table{
 
 box-sizing: content-box;
 color: black;
 
 border: 2px solid black;
 
}
.time-table{
    width: 70%;
    height: 70%;
}
th{
    border: 1px solid black;
    height: 30px;
    border-color: black;


}
td{
    background-color: aliceblue;
    border: 1px solid black;
    height: 20px;
    border-color: black;
    border-radius: 10px;


}
button{
    width: 100%;
    height: 100%;
    font-size: medium;
    color: whitesmoke;
    background-color: rgb(113, 111, 243);
    border-radius: 10px;
}
.course-detail{
    position: relative;
    width: 10%;
    left: 900px;
    top: -390px;
    height: 15%;

}